/**
* Initialise some variables for the Planetary Director file manager
**/
@font-face {
  font-family: "Orbitron";
  src: url("fonts/orbitron.eot?") format("eot"), url("fonts/orbitron.woff2") format("woff2"), url("fonts/orbitron.woff") format("woff"), url("fonts/orbitron.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto.eot?") format("eot"), url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff"), url("fonts/roboto.ttf") format("truetype"); }

body {
  height: 100px;
  padding: 15px;
  background-color: #fff;
  color: #000; }

.loading-cover {
  z-index: 5;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-image: url("../img/spaceman.jpg");
  background-repeat: no-repeat;
  background-position: left center; }

h1, h2 {
  font-family: "Orbitron"; }

.action-buttons {
  min-height: 40px;
  padding: 10px 0px 10px; }

.file-browser-panel {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }
  .file-browser-panel #display-local-files, .file-browser-panel #display-ipfs-files {
    padding: 15px;
    height: 50vh;
    overflow-y: scroll; }
    .file-browser-panel #display-local-files li, .file-browser-panel #display-ipfs-files li {
      list-style-type: none;
      height: 35px;
      padding-left: 40px;
      margin: 0; }
    .file-browser-panel #display-local-files li.parent-icon, .file-browser-panel #display-ipfs-files li.parent-icon {
      background: url("../img/icons/parent-dir.png") no-repeat left top; }
    .file-browser-panel #display-local-files li.folder-icon, .file-browser-panel #display-ipfs-files li.folder-icon {
      background: url("../img/icons/folder.png") no-repeat left top; }
    .file-browser-panel #display-local-files li.file-icon, .file-browser-panel #display-ipfs-files li.file-icon {
      background: url("../img/icons/file.png") no-repeat left top; }

.boot-quote {
  color: #333;
  font-size: 90%; }
  .boot-quote p {
    text-align: center; }
  .boot-quote .quote-attribution {
    font-style: italic;
    float: right;
    font-size: 90%; }

.modal-content {
  border: 1px solid #000;
  overflow-x: hidden; }
  .modal-content #modal-body .swarm-info {
    max-height: 450px;
    overflow-y: scroll; }
    .modal-content #modal-body .swarm-info .peer-title {
      padding: 5px 0px 5px 0px; }
    .modal-content #modal-body .swarm-info .peer-info {
      color: #333;
      font-size: 95%; }

.save-button:hover {
  background-color: #025ade; }
