/**
* Initialise some variables for the Planetary Director file manager
**/
body {
  background-color: #fff;
  color: #000; }

#display-files {
  margin: 10px; }
  #display-files li {
    list-style-type: none;
    height: 35px;
    padding-left: 40px;
    margin: 0; }
  #display-files li.folder-icon {
    background: url("../img/icons/folder.png") no-repeat left top; }
  #display-files li.file-icon {
    background: url("../img/icons/file.png") no-repeat left top; }
