/**
* Initialise some variables for the Planetary Director file manager
**/
$bgColour: #fff;
$txtColour: #000;

body {
	background-color: $bgColour;
	color: $txtColour;
}	

#display-files {
	margin: 10px;
	height:50vh; 
	overflow-y: scroll;

	li {
		list-style-type: none;
		height: 35px;		
		padding-left: 40px;
		margin: 0;
	}

	li.parent-icon {
		background: url('../img/icons/parent-dir.png')  no-repeat left top;
    }    

	li.folder-icon {
		background: url('../img/icons/folder.png') no-repeat left top;
    }

	li.file-icon {
		background: url('../img/icons/file.png')  no-repeat left top;
    }    
}

