/**
* Initialise some variables for the Planetary Director file manager
**/
$bgColour: #fff;
$txtColour: #000;

@font-face {
	font-family: "Orbitron";
	src: url("fonts/orbitron.eot?") format("eot"),
		 url("fonts/orbitron.woff2") format("woff2"),
		 url("fonts/orbitron.woff") format("woff"),
		 url("fonts/orbitron.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto.eot?") format("eot"),
		 url("fonts/roboto.woff2") format("woff2"),
		 url("fonts/roboto.woff") format("woff"),
		 url("fonts/roboto.ttf") format("truetype");
}

body {
	padding: 15px;
	background-color: $bgColour;
	color: $txtColour;
}	

h1, h2 {
	font-family: "Orbitron";
} 

#display-local-files, #display-ipfs-files {
	margin: 10px;
	height:50vh; 
	overflow-y: scroll;

	li {
		list-style-type: none;
		height: 35px;		
		padding-left: 40px;
		margin: 0;
	}

	li.parent-icon {
		background: url('../img/icons/parent-dir.png')  no-repeat left top;
    }    

	li.folder-icon {
		background: url('../img/icons/folder.png') no-repeat left top;
    }

	li.file-icon {
		background: url('../img/icons/file.png')  no-repeat left top;
    }    
}

.settings-field {
	margin-bottom: 20px;

	input {
		padding-left: 15px;
	}
 
}

.save-button:hover {
	background-color: #025ade;
}