<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <link href="../css/resources/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="../css/styles.css" rel="stylesheet" type="text/css">

    <script src="../js/app.js"></script>

    <title>Planetary Dictator</title>

    <script>
      var appSettings = planetaryDirectory.checkSettings();

      console.log( appSettings.system-path );
      planetaryDirectory.lsDir( appSettings.systempath );

      setTimeout(function() {
        // console.log( appSettings );
        planetaryDirectory.bindClicks();
      }, 500);
    </script>    
  </head>
  <body>
    <div class="text-center">
      <h2>Planetary Dictator</h2>

    </div>

    <div class="row">
      <div class="col" id="display-files">
        
      </div>

      <div class="col" id="action-panel">
        <div id="file-info"></div>
      </div>      
    </div>

    <div class="row">
      <div class="col" id="ipfs-status">
        IPFS Status
      </div>
    </div>    
  </body>
</html>
