<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <link href="../css/resources/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="../css/styles.css" rel="stylesheet" type="text/css">

    <script src="../js/app.js"></script>

    <title>Planetary Dictator</title>

    <script>
      planetaryDictator.lsSysDir( userHome );

      setTimeout(function() {
        // console.log( appSettings );
        planetaryDictator.bindClicks();
      }, 500);
    </script>    
  </head>
  <body>
    <div class="text-center">
      <h2>Planetary Dictator</h2>

    </div>

    <div class="row">
      <!-- Display the local file system -->
      <div class="col" id="display-local-files"></div>

      <!-- Display the IPFS file system -->
      <div class="col" id="display-ipfs-files"></div>      
    </div>

    <div class="row">
      <div class="col" id="ipfs-status">
        <strong>IPFS Status:</strong> Offline
      </div>

      <div class="col" id="action-panel">
        <div id="file-info"></div>
      </div>            
    </div>    
  </body>
</html>
