<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <link href="../css/resources/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="../css/styles.css" rel="stylesheet" type="text/css">

    <script src="../js/app.js"></script>
    <script src="../js/quotes.js"></script>

    <title>Planetary Dictator</title>

    <script>    
      planetaryDictator.lsSysDir( userHome );

      setTimeout(function() {
        jQuery('.close-modal').hide();
        getQuote();
        jQuery('#notification-modal').show();

        planetaryDictator.bindClicks();
      }, 500);
    </script>    
  </head>
  <body>
    <div id="body-cover" class="loading-cover"></div>

    <div class="text-center">
      <h2>Planetary Dictator</h2>

    </div>

    <div class="row">
      <!-- Display the local file system -->
      <div class="col" id="display-local-files"></div>

      <!-- Display the IPFS file system -->
      <div class="col" id="display-ipfs-files"></div>      
    </div>

    <div class="row">
      <div class="col">
        <div class="action-buttons">
          <button type="button" class="btn btn-danger exit-program">Shutdown Daemon</button>
          <button type="button" class="btn btn-primary show-swarm">Swarm Info</button>
        </div>

        <div id="ipfs-status">
          <strong>IPFS Status:</strong> Offline
        </div>
      </div>

      <div class="col" id="action-panel">
        <div id="file-info"></div>
      </div>            
    </div>  

    <div id="notification-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>

            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>            
          </div>
          
          <div class="modal-body" id="modal-body"></div>
        </div>
      </div>
    </div>  
  </body>
</html>
