<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <link href="../css/resources/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="../css/styles.css" rel="stylesheet" type="text/css">

    <script src="../js/app.js"></script>

    <title>Planetary Dictator</title>

    <script>
      planetaryDictator.settingsForm();
    </script>    
  </head>
  <body>
    <div class="text-center">
      <h2>Planetary Dictator - Settings</h2>
    </div>

    <div class="row justify-content-center align-items-center">
      <form action="#">
        <div class="col">    
            <div class="form-group settings-field">
              <label for="ipfs-repo">IPFS Repo:</label>
              <br />
              <input type="file" name="ipfs-repo" id="ipfs-repo" webkitdirectory required/>
            </div>
            <div class="form-group settings-field">
              <label for="system-repo">Default File System Directory:</label>
              <br />
              <input type="file" name="system-path"  id="system-path" webkitdirectory required/>
            </div>
        </div>

        <div class="col-md">    
            <button type="submit" class="btn btn-default save-button">Save Settings</button>
        </div>
      </form> 
    </div>     
  </body>
</html>
